---
permalink: /feed.xml
layout: false
eleventyExcludeFromCollections: true
sitemap: false
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Honest Drain Blog</title>
    <link>{{ '/blog/' | absoluteUrl }}</link>
    <description>Practical drain and sewer advice from Honest Drain.</description>
    <language>en-us</language>
    <atom:link href="{{ '/feed.xml' | absoluteUrl }}" rel="self" type="application/rss+xml"/>
    {% if collections.blogPosts.length %}<lastBuildDate>{{ collections.blogPosts[0].data.date | rfc822Date }}</lastBuildDate>{% endif %}
    {% for post in collections.blogPosts %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ post.url | absoluteUrl }}</link>
      <guid isPermaLink="true">{{ post.url | absoluteUrl }}</guid>
      <pubDate>{{ post.data.date | rfc822Date }}</pubDate>
      <description>{{ post.data.description }}</description>
    </item>
    {% endfor %}
  </channel>
</rss>
